<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>463470163881-1v72b66qn715ngsrtp2klcuocusdhc1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463470163881-1v72b66qn715ngsrtp2klcuocusdhc1i</string>
	<key>API_KEY</key>
	<string>AIzaSyBwPZgs6VlSospX0CQu_Ef2ZRWAXB5l5oA</string>
	<key>GCM_SENDER_ID</key>
	<string>463470163881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scottobot.ReuniteFamilies</string>
	<key>PROJECT_ID</key>
	<string>reunitefamilies-28bee</string>
	<key>STORAGE_BUCKET</key>
	<string>reunitefamilies-28bee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463470163881:ios:67785350d06776ac</string>
	<key>DATABASE_URL</key>
	<string>https://reunitefamilies-28bee.firebaseio.com</string>
</dict>
</plist>